<h2>Reiseempfehlung</h2>

<label>Temperatur:
  <select [(ngModel)]="preference.temperature">
    <option value="warm">warm</option>
    <option value="cold">kalt</option>
  </select>
</label>

<br />

<label>Reisedauer (Tage):
  <input type="number" [(ngModel)]="preference.duration" min="1" />
</label>

<br />

<label>Budget:
  <select [(ngModel)]="preference.budget">
    <option value="low">low</option>
    <option value="medium">medium</option>
    <option value="high">high</option>
  </select>
</label>

<br />

<button (click)="submitForm()">Empfehlung holen</button>

<hr>
<h3>Lieblingsorte speichern: (Mehrfachauswahl durch Kommatrennung)</h3>
<input [(ngModel)]="placesText" placeholder="Paris, London" />
<button (click)="savePlaces()">Orte speichern</button>

<h4>Deine Orte:</h4>
<ul>
  <li *ngFor="let p of userPlaces">{{ p }}</li>
</ul>
