<h2>Reiseempfehlung</h2>

<label>Temperatur:
  <select [(ngModel)]="preference.temperature">
    <option value="warm">warm</option>
    <option value="cold">kalt</option>
  </select>
</label>

<br />

<label>Reisedauer (Tage):
  <input type="number" [(ngModel)]="preference.duration" min="1" />
</label>

<br />

<label>Budget:
  <select [(ngModel)]="preference.budget">
    <option value="low">low</option>
    <option value="medium">medium</option>
    <option value="high">high</option>
  </select>
</label>

<br />

<button (click)="submitForm()">Empfehlung holen</button>
